<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firni.zado">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".zedomenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".zedoregister" />
        <activity android:name=".zadologin" />
        <activity android:name=".zadojatekvalaszto" />
        <activity android:name=".Quiz" />
        <activity android:name=".Memoria" />
        <activity android:name=".Memoria4x5" />
        <activity android:name=".Memoria6x7" />
        <activity android:name=".Memoria5x6"></activity>
    </application>

</manifest>